*.class
*:q1

*.orig
.gradle
build/
.idea/
**/node_modules
**/jspm_packages
**/npm-debug.log
*.iml

# Ignore Gradle GUI config
gradle-app.setting

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

*.ipr
*.iws
*.ids

# Settings para ScalaIde
.DS_Store
**.project
**.settings
**.classpath
**/target
.cache

*.log
/build/
*/build/
/classes/
/bin/

/log
/out
